# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Better Auth
# Secret used by Better Auth
BETTER_AUTH_SECRET=


# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
# MUST HAVE TRAILING SLASH
BETTER_AUTH_URL=
# BETTER_AUTH_URL=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL=

#

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

FILES_BUCKET_NAME=
FILES_BUCKET_REGION=
FILES_BUCKET_PATH=
FILES_BUCKET_CDN=


# loging for linked in
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=


# public realtime servceis
NEXT_PUBLIC_WS_DEV_URL=
NEXT_PUBLIC_WS_PROD_URL=